@import url(./default.css);
.container {
    margin: 0.5em 4%;
}

.contest-title {
    text-align: center;
}

.box {
    max-width: 800px;
    margin: auto;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 1em 4%;
    margin: 1em;
    background-color: var(--card);
    border-radius: 8px;
    color: var(--text);
    align-items: center;
}

.question > div > h2 {
    display: inline;
}

.btn {
    box-sizing: border-box;
    padding: 0.8em 1em;
    align-self: center;
    border: none;
    background-color: var(--left);
    border-radius: 50px;
    transition: width 0.2s ease-out;
    background: var(--left);
    background: linear-gradient(90deg, var(--left), var(--right));
    color: var(--dark-bg);
    font-size: 1.1rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.big {
    font-size: 1.3rem;
}

#info {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px;
}

.float-btn {
    height: 48px;
    width: 48px;
    border: 0;
    border-radius: 50%;
    outline: 0;
    position: fixed;
    bottom: 1em;
    right: 1em;
    transition: color 0.4s ease;
    font-size: 2rem;
    background: var(--left);
    background: linear-gradient(90deg, var(--left), var(--right));
}

.float-btn:hover {
    color: white;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: auto 1%;
    }

    .box {
        margin: 0.3em;
        padding: 0.5em 0.8em 0;
    }

    p {
        font-size: 0.8rem;
    }
}
.mailnlead {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn2 {
    margin-left: 2em;
}
