.jumbo {
    text-align: center;
    font-family: var(--big);
    color: var(--left);
    font-size: 3.6rem;
    transition: all 0.6s ease;
}

.tagline {
    padding: 1em 20%;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.6;
    transition: all 0.6s ease;
}
