.container {
    margin: 4%;
}

.table {
    max-width: 600px;
    margin: auto;
}

.table>div {
    display: flex;
    justify-content: space-between;
    background-color: var(--card);
    backdrop-filter: blur(4px);
    margin-top: 0.2em;
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.table div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.top {
    color: var(--left);
    font-weight: bold;
}