@import url(./default.css);
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 4%;
    color: var(--text);
    background-color: var(--card);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.nav-brand {
    font-family: var(--big);
    font-size: 1.3rem;
    font-weight: 600;
}

.nav-link {
    margin: 0 0.5em;
}

.container {
    margin: 0 4%;
}

.prof {
    text-align: center;
}

.profile-icon {
    font-size: 100px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 500px;
}

.description {
    margin-left: 3%;
}

.logout {
    outline: none;
    width: 8em;
    padding: 0.8em 0;
    margin: 1em auto;
    border: none;
    background-color: var(--left);
    border-radius: 50px;
    transition: width 0.2s ease-out;
    background: var(--left);
    background: linear-gradient(90deg, var(--left), var(--right));
    color: var(--dark-bg);
    font-size: 1.1rem;
    font-weight: 500;
}

.logout:hover {
    width: 8.5em;
}
