/* default */

@import url(./default.css);

/* custom */

.container {
    padding: 4%;
}

.title {
    text-align: center;
    color: var(--left);
    margin: 0 0 0.8em;
}

form {
    max-width: 500px;
    border-radius: 8px;
    padding: 2em 2.5em;
    margin: 1em auto 0;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    backdrop-filter: blur(4px);
}

#submit {
    width: 8em;
    padding: 0.8em 0;
    align-self: center;
    border: none;
    background-color: var(--left);
    border-radius: 50px;
    transition: width 0.2s ease-out;
    background: var(--left);
    background: linear-gradient(90deg, var(--left), var(--right));
    color: var(--dark-bg);
    font-size: 1.1rem;
    font-weight: 500;
}

#submit:hover {
    width: 8.5em;
}

.choice {
    margin: 1em;
    display: inline-block;
}

#nonono {
    color: red;
}